<table class="display-table">
	<tr>
		<th>Sub Category Name</th>
		<th>Description</th>
		<th>Category</th>
	</tr>
	<tr>
		<td><%= @subcategory.name %></td>
		<td><%= @subcategory.description %></td>
		<td><%= @subcategory.category.name %></td>
	</tr>
</table>