<% if user_signed_in? %>
	<% if current_user.customer? %>
    <% end %>
     	<% if current_user.admin? %>
     		<%= render "layouts/adminpanel" %>
     	<% end %>
     	<% if current_user.seller? %>
			<h1>welcome seller </h1>
     <% end %>
<% end %> 
