<% @products.each do |product| %>
		<div class="product-display">
			<%= link_to image_tag(product.avatar.url(:thumb)), product_path(product) %>
			<b><%= product.product_name %></b><br/>
			Rs.<%= product.unit_price %><br/>
		</div>
<%end%>
