<!DOCTYPE html>
<html>
	<head>
		<title>Your Order Is Placed Successfully</title>
	</head>
<body>
	<h2>Thank you <%= @user.name %> for Shoping from ShopingCart, </h2>
	<table>
		<tr><td>Your Order id:<%= @order.id %>  Placed Successfully</td></tr>
		<tr><td>To Visit to this site:<%= @url %></td></tr>
	<p>Thank you for shopping</p>
	<h4>ShoppingCart Team</h4>
</body>
</html>