.product-show-container{
	width:800px;
	margin:0 auto;
}

.button{
	text-decoration:none;
	width:200px;
	height:150px;
	background-color:black;
	color:#fff;
}

.product-show-image{
	float:left;
}
.product-show-description{
	padding:50px;
}
