<table border=1>
	<tr>
		<th> Category ID </th>
		<th> Category Name </th>
		<th> Description </th>
		<th colspan="3"></th>
	</tr>
	<tr>
		<td><%= @category.id %></td>
		<td><%= @category.name %></td>
		<td><%= @category.description %></td>
		<td><%= link_to 'Back', categories_path %></td>
	</tr>
</table>