 

<div class="product-show-image">
	<%= image_tag @product.avatar.url(:medium) %>
</div>
<div class="product-show-description">
	<%= @product.product_name %>
	<%= @product.unit_price %>
</div>

<%= link_to "Add to cart", add_to_cart_path(:product_id => @product.id), method: :put %>